@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
body
	{ 
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		margin:0 auto;
		height:100%;
		background:url('../images/bg.png')repeat-x ;
		background-size: 100% 100%;
		width:100%;
	}
	.header
	{
	height:100%;
	margin-bottom:2%;
	}
	/* ---------- LOGO----------*/
	.logo
	{
	margin:0 auto;
	width:72px; 	
	height:61px;
	padding-top:20px;
	padding-bottom:2px;
	}
	/* Logo image */
	.logo_img
	{
	height:100%;
	width:100%;
	}
	.logo_subtitle
	{
	width:100%;
	height: 8%;
	}
	.logo_subtitle_img
	{
	width:100%;
	height:100%;
	margin :0 auto;
	}
	.content_top
	{
	width: 50%;
	height: 12%;
	position: absolute;
	top: -5%;
	right: 5%;
	background:url('../images/login_button.png') no-repeat ;
	background-size: 100% 100%;
	}
	.login
	{
	padding-top:5%;
	padding-bottom:7%;
	Font-Family :arial;
	Font-size: 1.5em;
	Font-weight:normal;
	color:white;
	text-align:center;
	}
	.username
	{
	width:100%;
	padding-top:5%;
	padding-left:20px;
	Font-Family :arial;
	Font-size: 1.5em;
	Font-weight: regular;
	color :white;
	}
	.username_input
	{
	height:45px;
	width: 80%;
	position: relative;
	left: 20px;
	top: 8px;
	font-size:1.5em;
	padding-left:10px;
	background:url('../images/input_field.png') ;
	background-size: 100% 100%;
	border:none;
	}
	
	.password
	{
	width:100%;
	padding-top:5%;
	padding-left:20px;
	Font-Family :Arial;
	Font-size: 1.5em;
	Font-weight: regular;
	color :white;
	}
	.password_input
	{
	height:45px;
	width: 80%;
	position: relative;
	left: 20px;
	top: 8px;
	padding-left:10px;
	Font-size: 1.5em;
	font-weight: normal;
	background:url('../images/input_field.png') ;
	background-size: 100% 100% ;
	border:none;
	}
	.content
	{
	width: 100%;
	height: 420px;
	position: relative;
	margin: 0 auto;
	background:url('../images/top_bg.png')no-repeat ;
	background-size: 100% 100%;
	}
	.Remeber
	{
	height:36px;
	width: 315px;
	position: relative;
	left: 20px;
	top: 8px;
	}
	.tick
	{
	float:left;
	height:35px;
	width: 10%;
	background:url('../images/chk_input.png')no-repeat ;
	background-size: 100% 100%;
	}
	.tick1
	{
	border:none;
	text-align:center;
	}
	.Remeber_text
	{
	float:left;
	padding-top:2%;
	width: 85%;
	padding-left:5%;
	Font-Family :arial;
	Font-size: 1.5em;
	Font-weight: regular;
	color :white;
	}
	.forget
	{
	height:36px;
	width: 100%;
	position: relative;
	top: 8px;
	}
	.tick2
	{
	float:left;
	width: 10%;
	height: 100%;
	background:url('../images/ticmark.png') no-repeat;
	background-size: 100% 100%;
	}
	.forget_text
	{
	width: 75%;
	margin-left:15%;
	Font-Family :arial;
	Font-size: 1.5em;
	Font-weight: regular;
	color :white;
	}
	.forget_text a{
		text-decoration: none;
		color: #ffffff;
	}
	.go
	{
	height:13%;
	width: 30%;
	position: absolute;
	right: 5%;
	bottom: 17%;
	background:url('../images/go_button.png') ;
	background-size: 100% 100% ;
	}
	.go input[type="submit"]{
		background: transparent;
		border: none;
		color: white;
		cursor: pointer;
		height: 10%;
		width: 100%;
		font-size: 1.5em;
	}
	.go_text
	{
	Font-Family :Helvetica;
	Font-weight :CE Bold COndensed;
	color :white;
	text-align: left;
	margin-right: 5%;
	margin-top: 5%;
	}
	
	.content_bottom
	{
	width: 100%;
	height: 150px;
	position: absolute;
	left: 58;
	bottom: -74px;
	background: url('../images/bottom_ bg.png')no-repeat;
	background-size: 100% 100%;
	}
	.bottom_img
	{
	height:31%;
	width:27%;
	position:relative;
	left:11%;
	top:22%;
	padding-top: 10px;
	background: url('../images/register_button.png');
	background-size: 100% 100%;
	padding-left: 10%;
	}
	.bottom_img_text
	{
	color: white;
	text-decoration: none;
	position: relative;
	top:3%;
	left:-20%;
	Font-Family: Arial;
	font-size: 1.1em;
	}
	.do
	{
	height: 35px;
	width: 250px;
	position: relative;
	left: 355px;
	top: -50px;
	
	
	padding-top:7px;
	}
	.do_text
	{
	Font-Family :Arial;
	Font-size:1.5em;
	Font-weight:regular;
	color :black;
	text-align: center;
	text-decoration:none;
	}

	/*radha:added the css for error msg*/	
	.error_msg{
	height: 100%;
	width: 100%;
	margin:auto;
	}
	.text_error{
	width:100%;
	height:35px;
	margin:auto;
	color:red;
	text-align:center;
	Font-Family :Arial;
	Font-size:1em;
	Font-weight:regular;
	}
}


/*---------------------------------------------------*/



@media only screen and (min-device-width: 768px) and (orientation: landscape) and (max-device-width: 998px){
body
	{ 
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
		margin:0 auto;
		height:100%;
		background:url('../images/bg.png')repeat-x ;
		background-size: 100% 100%;
		width:100%;
	}
	.header
	{
	height:100%;
	margin-bottom:2%;
	}
	/* ---------- LOGO----------*/
	.logo
	{
	margin:0 auto;
	width:72px; 	
	height:61px;
	padding-top:20px;
	padding-bottom:2px;
	}
	/* Logo image */
	.logo_img
	{
	height:100%;
	width:100%;
	}
	.logo_subtitle
	{
	width:100%;
	height: 8%;
	}
	.logo_subtitle_img
	{
	width:100%;
	height:100%;
	margin :0 auto;
	}
	.content_top
	{
	width: 50%;
	height: 12%;
	position: absolute;
	top: -5%;
	right: 5%;
	background:url('../images/login_button.png') no-repeat ;
	background-size: 100% 100%;
	}
	.login
	{
	padding-top:5%;
	padding-bottom:7%;
	Font-Family :arial;
	Font-size: 1.5em;
	Font-weight:normal;
	color:white;
	text-align:center;
	}
	.username
	{
	width:100%;
	padding-top:5%;
	padding-left:20px;
	Font-Family :arial;
	Font-size: 1.5em;
	Font-weight: regular;
	color :white;
	}
	.username_input
	{
	height:45px;
	width: 80%;
	position: relative;
	left: 20px;
	top: 8px;
	font-size:1.5em;
	padding-left:10px;
	background:url('../images/input_field.png') ;
	background-size: 100% 100%;
	border:none;
	}
	
	.password
	{
	width:100%;
	padding-top:5%;
	padding-left:20px;
	Font-Family :Arial;
	Font-size: 1.5em;
	Font-weight: regular;
	color :white;
	}
	.password_input
	{
	height:45px;
	width: 80%;
	position: relative;
	left: 20px;
	top: 8px;
	padding-left:10px;
	Font-size: 1.5em;
	font-weight: normal;
	background:url('../images/input_field.png') ;
	background-size: 100% 100% ;
	border:none;
	}
	.content
	{
	width: 100%;
	height: 420px;
	position: relative;
	margin: 0 auto;
	background:url('../images/top_bg.png')no-repeat ;
	background-size: 100% 100%;
	}
	.Remeber
	{
	height:36px;
	width: 315px;
	position: relative;
	left: 20px;
	top: 8px;
	}
	.tick
	{
	float:left;
	height:35px;
	width: 10%;
	background:url('../images/chk_input.png')no-repeat ;
	background-size: 100% 100%;
	}
	.tick1
	{
	border:none;
	text-align:center;
	}
	.Remeber_text
	{
	float:left;
	padding-top:2%;
	width: 85%;
	padding-left:5%;
	Font-Family :arial;
	Font-size: 1.5em;
	Font-weight: regular;
	color :white;
	}
	.forget
	{
	height:36px;
	width: 100%;
	position: relative;
	top: 8px;
	}
	.tick2
	{
	float:left;
	width: 10%;
	height: 100%;
	background:url('../images/ticmark.png') no-repeat;
	background-size: 100% 100%;
	}
	.forget_text
	{
	width: 75%;
	margin-left:15%;
	Font-Family :arial;
	Font-size: 1.5em;
	Font-weight: regular;
	color :white;
	}
	.forget_text a{
		text-decoration: none;
		color: #ffffff;
	}
	.go
	{
	height:13%;
	width: 30%;
	position: absolute;
	right: 5%;
	bottom: 17%;
	background:url('../images/go_button.png') ;
	background-size: 100% 100% ;
	}
	.go input[type="submit"]{
		background: transparent;
		border: none;
		color: white;
		cursor: pointer;
		height: 10%;
		width: 100%;
		font-size: 1.5em;
	}
	.go_text
	{
	Font-Family :Helvetica;
	Font-weight :CE Bold COndensed;
	color :white;
	text-align: left;
	margin-right: 5%;
	margin-top: 5%;
	}
	
	.content_bottom
	{
	width: 100%;
	height: 150px;
	position: absolute;
	left: 58;
	bottom: -74px;
	background: url('../images/bottom_ bg.png')no-repeat;
	background-size: 100% 100%;
	}
	.bottom_img
	{
	height:31%;
	width:27%;
	position:relative;
	left:11%;
	top:22%;
	padding-top: 10px;
	background: url('../images/register_button.png');
	background-size: 100% 100%;
	padding-left: 10%;
	}
	.bottom_img_text
	{
	color: white;
	text-decoration: none;
	position: relative;
	top:3%;
	left:-20%;
	Font-Family: Arial;
	font-size: 1.1em;
	}
	.do
	{
	height: 35px;
	width: 250px;
	position: relative;
	left: 355px;
	top: -50px;
	
	
	padding-top:7px;
	}
	.do_text
	{
	Font-Family :Arial;
	Font-size:1.5em;
	Font-weight:regular;
	color :black;
	text-align: center;
	text-decoration:none;
	}

	/*radha:added the css for error msg*/	
	.error_msg{
	height: 100%;
	width: 100%;
	margin:auto;
	}
	.text_error{
	width:100%;
	height:35px;
	margin:auto;
	color:red;
	text-align:center;
	Font-Family :Arial;
	Font-size:1em;
	Font-weight:regular;
	}
}




/*---------------------------------------------------*/
@media only screen and (min-device-width: 999px) {
	body
	{
		margin:0 auto;
		height:100%;
		background:url('../images/bg.png')no-repeat ;
		background-size: 100% ;
		width:100%;
	}
	 .header
	{
	height:100%;
	margin-bottom:30px;/*
	border-style:solid;
	border-width:5px;
	border-color:red;*/
	/*
	background:url('../images/bg.png')no-repeat ;
	background-size: 100% ;*/
	}
	/* ---------- LOGO----------*/
	.logo
	{
	margin:0 auto;/*
	border-style:solid;
	border-width:1px;
	border-color:red;*/
	width:70px;
	height:80px;
	padding-top:20px;
	padding-bottom:2px;
	}
	/* ---------- LOGO SUBTITLE----------*/
	.logo_subtitle
	{
	width:100%;
	text-align:center;
	height:20px;/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	padding-bottom:35px;
	padding-top:5px;
	}
	.logo_img
	{
	margin:0 auto;
	}
	.logo_subtitle_img
	{
	width:37%;
	height:40px;
	margin :0 auto;
	/*padding-left:420px; */
	}
	.content_top
	{
	width: 32%;
	height: 70px;
	position: absolute;
	top: -36px;
	left: 62%;
	background: url('../images/login_button.png')no-repeat;
	background-size: 100% 100%;
	}
	.login
	{
	padding-top: 18px;
	Font-Family: Myriad Pro;
	Font-size: 1.4em;
	Font-weight: regular;
	color: white;
	text-align: center;
	}
	.username
	{
	height:20px;
	width:100px;
	padding-top:60px;
	padding-left:20px;
	Font-Family :Arial;
	Font-size: 14pt;
	Font-weight: regular;
	color :white;
	/* border-style: solid;
	border-width: 2px;
	border-color: red;*/
	}
	.username_input
	{
	height:50px;
	width: 77%;
	position: relative;
	left: 20px;
	top: 8px;
	font-size:22px;
	padding-left:10px;
	background:url('../images/input_field.png') ;
	background-size: 100% 100% ;
	border:none;
	}
	
	.password
	{
	height:20px;
	width:100px;
	padding-top:60px;
	padding-left:20px;
	Font-Family :Arial;
	Font-size: 14pt;
	Font-weight: regular;
	color :white;
	/* border-style: solid;
	border-width: 2px;
	border-color: red;*/
	}
	.password_input
	{
	height:50px;
	width: 77%;
	position: relative;
	left: 20px;
	top: 8px;
	Font-size: 22px;
	padding-left:10px;
	background:url('../images/input_field.png') ;
	background-size: 100% 100% ;
	border:none;
	}
	.content
	{
	width: 37%;
	height: 400px;
	position: relative;
   /* border-style: solid;
	border-width: 2px;
	border-color: black;*/
	margin: 0 auto;
	background:url('../images/top_bg.png')no-repeat ;
	background-size: 100% 100%;
	}
	.Remeber
	{
	height:26px;
	width: 235px;
	position: relative;
	left: 20px;
	top: 8px;
 /* border-style: solid;
	border-width: 2px;
	border-color: black;*/
	}
	.tick
	{
	float:left;
	height:25px;
	width: 20px;
	background:url('../images/chk_input.png')no-repeat ;
	background-size: 100%  ;
	/*border-style: solid;
	border-width: 1px;
	border-color: red;*/
	}
	.tick1
	{
	border:none;
	}
	.Remeber_text
	{
	float:left;
	height:25px;
	width: 120px;
	Font-Family :Arial;
	Font-size: 12pt;
	Font-weight: regular;
	color :white;
	}
	.forget
	{
	height:26px;
	margin-left:2%;
	top:8px;
	/*border-style: solid;
	border-width: 1px;
	border-color: red;*/
	}
	.tick2
	{
	float:left;
	height:23px;
	width: 20px;
	margin-left:1%;
	background:url('../images/ticmark.png')no-repeat ;
	background-size: 100% 100% ;
	/*border-style: solid;
	border-width: 1px;
	border-color: red;*/
	}
	.forget_text
	{
	float:left;
	height:25px;
	width: 140px;
	Font-Family :Arial;
	Font-size: 12pt;
	Font-weight: regular;
	color :white;
	}
	.forget_text a{
		text-decoration: none;
		color: #ffffff;
	}
	.go
	{
	/*height: 55px;
	width: 90px;
	position: relative;
	left: 315px;
	top: -24px;
		/*border-style: solid;
	border-width: 1px;
	border-color: red;*-/
	background:url('../images/go_button.png') ;
	background-size: 100% 100%  ;*/
	height: 55px;
	width: 28%;
	position: relative;
	top: -24px;
	background: url('../images/go_button.png') no-repeat;
	float: right;
	}
	.go input[type="submit"]{
		background: transparent;
		border: none;
		color: white;
		cursor: pointer;
		height: 30px;
		width: 70px;
		font-size: 1.2em;
	}
	.go_text
	{
	Font-Family: Helvetica;
	Font-weight: CE Bold COndensed;
	color: white;
	padding-top: 0px;
	margin-right: 15%;
	}
	
	.content_bottom
	{
	width: 100%;
	height: 100px;
	position: absolute;
	left:-2px;
	bottom: -74px;
	background: url('../images/bottom_ bg.png')no-repeat;
	background-size: 100% 100%;
	}
	.bottom_img
	{
	height: 55px;
	width: 92px;
	position: relative;
	left: 39px;
	top: 17px;
	padding-top: 10px;
	background: url('../images/register_button.png');
	background-size: 100% 100%;
	padding-left:13px;
	}
	.bottom_img_text
	{
	color: white;
	text-decoration: none;
	position: relative;
	top: 6px;
	Font-Family: Arial;
	font-size: 1em;
	}
	
	.do
	{
	height: 25px;
	width: 150px;
	position: relative;
	left: 255px;
	top: -50px;
	border-style: solid;
	border-width: 1px;
	border-color: red;
	
	padding-top:7px;
	}
	.do_text
	{
	Font-Family :Arial;
	Font-size:14pt;
	Font-weight:regular;
	color :black;
	text-align: center;
	text-decoration:none;
	}
	
	/*radha:added the css for error msg*/	
	.error_msg{
	height: 35px;
	width: 100%;
	margin: auto;
	margin-bottom: 10px;
	}
	.text_error{
	width:37%;
	margin:auto;
	height:30px;
	
	text-align:center;
	Font-Family :Arial;
	Font-size:14pt;
	Font-weight:regular;
	color :red;
	}
	
}