@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body
	{
		margin:0 auto;
		height:100%;
		background:url('../images/bg.png') repeat-x ;
		background-size: 100% 100%;
		width:100%
	}
	.header
	{
		margin-bottom:5px;
	/*
	border-style:solid;
	border-width:5px;
	border-color:red;
	background:url('../images/bg.png')no-repeat ;
	background-size: 100% ;*/
	}
	
	
	/* ---------- LOGO SUBTITLE----------*/
		.logo_subtitle
	{
	width:100%;
	height:150px;
	background:url('../images/back_bg.png')repeat-x ;
	background-size: 100% 100% ;
	/*border-style:solid;
	border-width:1px;
	border-color:blue;*/
	padding-bottom:5px;
	}
	
	.back_img
	{
	width:150px;
	height:70px;
	margin-top:5px;
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	float:left;
	}
	.back
	{
	height:100%;
	width:100%;
	}
	.logo
	{
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	width:155px;
	height:70px;
	float:right;
	margin-right:350px;
	}
	.logo_img
	{
	height:100%;
	width:100%;
	}
	.subtitle
	{
	width:100%;
	height:80px;
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;
	*/
	margin-top:10px;
	padding-bottom:5px;
	padding-top:10px;
	margin-bottom:5px;
	}
	.logo_subtitle_img
	{
	width:82%;
	height:40px;
	padding-left:120px;
	margin :0 auto;
	}
	
	
	/* ---------- LOGO SUBTITLE1----------*/
	.logo_subtitle1
	{
	width:100%;
	height:150px;
	background:url('../images/sub_title-bg.png')repeat-x ;
	background-size: 100% 100% ;
	/*border-style:solid;
	border-width:1px;
	border-color:blue;
	padding-bottom:55px;*/
	}
	.view
	{
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	width:600px;
	height:37px;
	Font-Family:Verdana;
	Font-Weight:regular;
	Font-Size:45px;
	Color:#a20101;
	margin-left:10px;
	padding-top:30px;
	float:left;
	}
	
	.home_img
	{
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	width:90px;
	height:50px;
	margin-right:100px;
	padding-top:30px;
	float:right;
	}
	.home_img_detail
	{
	height:100%;
	width:100%;
	}
	/* ---------- Content----------*/
	.content
	{
	width:95%;
	margin-top:17px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	border-style:solid;
	border-width:3px;
	border-color:#a20101;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	}
	
	.content_data
	{
	float:left;
	width:75%;
	height:30px;
	text-align:left;
	padding-top:15px;
	/*border-style:solid;
	border-width:1px;
	border-color:#a20101;*/
	margin-top:11px;
	margin-left:10px;
	Font-Family :Verdana;
	Font-Weight :Regular;
	Font-Size :40px;
	Color:#000000;
	}
	.content_data1
	{
	float:right;
	width:35%;
	text-align: right;
	margin-top: -3%;
	/*border-style:solid;
	border-width:1px;
	border-color:#a20101;*/
	margin-right:10px;
	Font-Family :Verdana;
	Font-Weight :Regular;
	Font-Size :40px;
	Color:#000000;
	}
	
	
	.content_data3
	{
	float:left;
	width:27%;
	height:30px;
	text-align:center;
	padding-top:25px;
	/*border-style:solid;
	border-width:1px;
	border-color:#a20101;*/
	margin-top:25px;
	margin-left:10px;
	Font-Family :Verdana;
	Font-Weight :Bold;
	Font-Size :40px;
	Color:#000000;
		}
	.design
	{
	width:150px;
	height:50px;
	clear:both;
	padding-top:15px;
	text-align:center;
	margin:0 auto;
   /*border-style:solid;
	border-width:1px;
	border-color:#a20101;*/
	}
	.design_img
	{
	height:100%;
	width:100%;
	}
	.lower1
	{
	width:65%;
	height:35px;
	text-align:center;
	margin:0 auto;
	Font-Family :Verdana;
	Font-Weight :Bold;
	Font-Size :35px;
	Color:#890203;
	/*border-style:solid;
	border-width:2px;
	border-color:black;*/
	}.lower
	{
	width:80%;
	height:38px;
	text-align:center;
	margin:0 auto;
	Font-Family :Verdana;
	Font-Weight :Bold;
	Font-Size :35px;
	Color:#890203;
	/*border-style:solid;
	border-width:2px;
	border-color:black;*/
	}

	/* footer  */
	.footer
	{
	margin-top:40px;
	margin:0 auto;
	Height:158px;
	width:90%;
	border-style:solid;
	border-width:2px;
	border-color:black;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:0em;
	}
	.footer_upper
	{
	width:100%;
	Height:80px;
	/*
	border-style:solid;
	border-width:1px;
	border-color:black;/*/
	}
	.imgf
	{
	padding-top:20px;
	padding-left:20px;
	height:50px;
	width:50px;
	float:left;
	}
	.textf
	{
	padding-top:25px;
	Font-Family:Verdana;
	Font-Weight:Regular;
	Font-Size:32px;
	Color:black;
	padding-left:20px;
	float:left;
	}
	.footer_upper_left
	{
	width:49%;
	Height:100%;
	/*
	border-style:solid;
	border-width:1px;
	border-color:black;/*/
	padding:0px;
	float:left;
	}
	.footer_upper_right
	{
	float:right;
	width:49%;
	Height:100%;
	/*
	border-style:solid;
	border-width:1px;
	border-color:black;
	/*/
	padding:0px;
	}
	.date
	{

	padding-top:30px;
	float:right;
	padding-right:30px;
	Font-Family:Verdana;
	Font-Weight:Regular;
	Font-Size:32px;
	Color:black;
	}
	/* footer-lower*/
	.footer_lower
	{
	clear:both;
	width:100%;
	Height:70px;
	border-style:solid;
	border-width:1px;
	border-color:black;
	padding:0;
	border:none;
	}
	.imgf2
	{
	padding-top:10px;
	padding-left:20px;
	height:50px;
	width:50px;
	float:left;
	}
	.textf2
	{
	padding-top:10px;
	Font-Family:Verdana;
	Font-Weight:Regular;
	Font-Size:32px;
	Color:black;
	padding-left:20px;
	float:left;
	}
	.footer_lower_right
	{
	float:right;
	width:49%;
	Height:100%;
	/*
	border-style:solid;
	border-width:1px;
	border-color:black;/*/
	padding-top:10px;
	}
	.day
	{
	float:right;
	padding-right:120px;
	Font-Family:Verdana;
	Font-Weight:Regular;
	Font-Size:32px;
	Color:black;
	}

	
	
	
	
	}
	
	
	
	
	/*---------------------------------------------------------------*/
	/*---------------------------------------------------------------*/
	/*---------------------------------------------------------------*/
	/*---------------------------------------------------------------*/
	/*---------------------------------------------------------------*/
	@media only screen and (min-device-width: 500px) {
	body
	{
		margin:0 auto;
		height:100%;
		width:100%;
	}
	 .header
	{
	margin-bottom:10px;
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	}
/* ---------- LOGO SUBTITLE----------*/
	.logo_subtitle
	{
	width:100%;
	/*height:90px;*/
	background:url('../images/back_bg.png')repeat-x ;
	background-size: 100% 100% ;
	/*border-style:solid;
	border-width:1px;
	border-color:blue;
	padding-bottom:65px;*/
	}
	.back_img
	{
	width:100px;
	height:44px;
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	float:left;
	}
	.back
	{
	height:100%;
	width:100%;
	}
	.logo
	{
/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	/*width:85px;
	height:45px;
	float:right;
	margin-right:650px;*/
	}
	.logo_img
	{
	/*height:100%;
	width:100%;*/
	display:block;
	margin: 0 auto;
	}
	
	.subtitle
	{
	clear:both;
	width:750px;
	height:35px;
/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	margin:0 auto;
	}
	.logo_subtitle_img
	{
	width:87%;
	height:35px;
	margin :0 auto;
	display: block;
	}
	/* ---------- LOGO SUBTITLE1----------*/
	.logo_subtitle1
	{
	width:100%;
	height:90px;
	background:url('../images/sub_title-bg.png')repeat-x ;
	background-size: 100% 100% ;
	/*border-style:solid;
	border-width:1px;
	border-color:blue;
	padding-bottom:35px;*/
	}
	.view
	{
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	height:40px;
	Font-Family:Verdana;
	Font-Weight:regular;
	Font-Size:35px;
	Color:#a20101;
	margin-left:50px;
	padding-top:20px;
	float:left;
	}
	.home_img
	{
	/*
	border-style:solid;
	border-width:1px;
	border-color:blue;*/
	width:80px;
	height:40px;
	margin-right:100px;
	padding-top:5px;
	float:right;
	padding-top:22px;
	}
	.home_img_detail
	{
	height:100%;
	width:100%;
	}
		/* ---------- Content----------*/
	.content
	{
	width:95%;
	margin-top:7px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	border-style:solid;
	border-width:2px;
	border-color:#a20101;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:1em;
	border-bottom-left-radius:1em;
	}
	.content_data
	{
	float:left;
	width:37%;
	height:20px;
	text-align:center;
	padding-top:5px;
	/*border-style:solid;
	border-width:1px;
	border-color:#a20101;*/
	margin-top:5px;
	margin-left:10px;
	Font-Family :Verdana;
	Font-Weight :Regular;
	Font-Size :14px;
	Color:#000000;
	}
	.content_data1
	{
	/* float:right; 
	width:47%;
	text-align:center; */
	height:20px;
	width:75%;
	text-align:right;
	padding-top:5px;
	/*border-style:solid;
	border-width:1px;
	border-color:#a20101;*/
	margin-top:5px;
	margin-right:10px;
	Font-Family :Verdana;
	Font-Weight :Regular;
	Font-Size :14px;
	Color:#000000;
	}
	.design
	{
	width:10%;
	height:40px;
	clear:both;
	text-align:center;
	margin:0 auto;
   /*border-style:solid;
	border-width:1px;
	border-color:#a20101;*/
	}
	.design_img
	{
	height:100%;
	width:100%;
	}
	.lower1
	{
	width:50%;
	height:35px;
	text-align:center;
	margin:0 auto;
	Font-Family :Verdana;
	Font-Weight :Bold;
	Font-Size :20px;
	Color:#890203;
	/*border-style:solid;
	border-width:2px;
	border-color:black;*/
	}
	.lower
	{
	width:50%;
	height:35px;
	text-align:center;
	margin:0 auto;
	Font-Family :Verdana;
	Font-Weight :Bold;
	Font-Size :20px;
	Color:#890203;
	/*border-style:solid;
	border-width:2px;
	border-color:black;*/
	}
	
	/*------------------ footer----------------------  */
	.footer
	{
	margin:0 auto;
	width:75%;
	border-style:solid;
	border-width:2px;
	border-color:black;
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	border-bottom-right-radius:0em;
	border-bottom-left-radius:0em;
	}
	.footer_upper
	{
	width:100%;
	Height:69px;
	/*
	border-style:solid;
	border-width:1px;
	border-color:black;/*/
	}
	.imgf
	{
	padding-top:20px;
	padding-left:20px;
	height:44px;
	width:44px;
	float:left;
	}
	.textf
	{
	padding-top:25px;
	Font-Family:Verdana;
	Font-Weight:Regular;
	Font-Size:28px;
	Color:black;
	padding-left:20px;
	float:left;
	}
	.footer_upper_left
	{
	width:49%;
	Height:100%;
	/*
	border-style:solid;
	border-width:1px;
	border-color:black;/*/
	padding:0px;
	float:left;
	}
	.footer_upper_right
	{
	float:right;
	width:49%;
	Height:100%;
	/*
	border-style:solid;
	border-width:1px;
	border-color:black;
	/*/
	padding:0px;
	}
	.date
	{

	padding-top:30px;
	float:right;
	padding-right:30px;
	Font-Family:Verdana;
	Font-Weight:Regular;
	Font-Size:26px;
	Color:black;
	}
	/* footer-lower*/
	.footer_lower
	{
	clear:both;
	width:100%;
	Height:70px;
	/*border-style:solid;
	border-width:1px;
	border-color:black;*/
	padding:0;
	}
	.imgf2
	{
	padding-top:10px;
	padding-left:20px;
	height:44px;
	width:44px;
	float:left;
	}
	.textf2
	{
	padding-top:10px;
	Font-Family:Verdana;
	Font-Weight:Regular;
	Font-Size:28px;
	Color:black;
	padding-left:20px;
	float:left;
	}
	.footer_lower_right
	{
	float:right;
	width:49%;
	Height:100%;
	/*
	border-style:solid;
	border-width:1px;
	border-color:black;/*/
	padding-top:10px;
	}
	.day
	{
	float:right;
	padding-right:100px;
	Font-Family:Verdana;
	Font-Weight:Regular;
	Font-Size:26px;
	Color:black;
	}
}