<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
    <servlet-name>webController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.redirect.controller.WebController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>webController</servlet-name>
    <url-pattern>/webController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>mobileController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.redirect.controller.MobileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mobileController</servlet-name>
    <url-pattern>/mobileController</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.user.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrationController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.user.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationController</servlet-name>
    <url-pattern>/registrationController</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/agent_planner_tool</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>admin</param-value>
  </context-param>
  <servlet>
    <servlet-name>ConnectionController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.common.controller.ConnectionController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>emailController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.common.controller.EmailController</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>logoutController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.user.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutController</servlet-name>
    <url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>setupController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.setup.controller.SetupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setupController</servlet-name>
    <url-pattern>/setupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>personalExpController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.setup.controller.PersonalExpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>personalExpController</servlet-name>
    <url-pattern>/personalExpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>businessExpController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.setup.controller.BusinessExpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>businessExpController</servlet-name>
    <url-pattern>/businessExpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>incomeGoalController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.setup.controller.IncomeGoalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>incomeGoalController</servlet-name>
    <url-pattern>/incomeGoalController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commissionController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.setup.controller.CommissionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>commissionController</servlet-name>
    <url-pattern>/commissionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transactionController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.transaction.controller.TransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactionController</servlet-name>
    <url-pattern>/transactionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewTransaction</servlet-name>
    <servlet-class>com.agentplannertool.frontend.transaction.controller.ViewTransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewTransaction</servlet-name>
    <url-pattern>/viewTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>progressController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.goals.controller.ProgressController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>progressController</servlet-name>
    <url-pattern>/progressController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>yearGoalsController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.goals.controller.YearGoalsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yearGoalsController</servlet-name>
    <url-pattern>/yearGoalsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>monthGoalsController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.goals.controller.MonthGoalsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monthGoalsController</servlet-name>
    <url-pattern>/monthGoalsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>weekGoalsController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.goals.controller.WeekGoalsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weekGoalsController</servlet-name>
    <url-pattern>/weekGoalsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>activationController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.user.controller.ActivationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activationController</servlet-name>
    <url-pattern>/activate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgetPasswordController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.user.controller.ForgetPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetPasswordController</servlet-name>
    <url-pattern>/forgetPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgetController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.user.controller.ForgetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgetController</servlet-name>
    <url-pattern>/forget</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>protocol</param-name>
    <param-value>smtp</param-value>
  </context-param>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>auth</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>starttls</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>socketFactoryPort</param-name>
    <param-value>465</param-value>
  </context-param>
  <context-param>
    <param-name>socketFactoryClass</param-name>
    <param-value>javax.net.ssl.SSLSocketFactory</param-value>
  </context-param>
  <context-param>
    <param-name>socketFactoryFallback</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>usrname</param-name>
    <param-value>knstech01@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pasword</param-name>
    <param-value>sandbox-2012</param-value>
  </context-param>
  <error-page>
    <error-code>500</error-code>
    <location>/index.jsp</location>
  </error-page>
   <error-page>
    <error-code>404</error-code>
    <location>/index.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>ViewTransactionController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.transaction.controller.ViewTransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionController</servlet-name>
    <url-pattern>/ViewTransactionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editTransactionController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.transaction.controller.EditTransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editTransactionController</servlet-name>
    <url-pattern>/editTransaction</url-pattern>
  </servlet-mapping>
  
  
   <filter>
    <filter-name>secfilter</filter-name>
    <filter-class>com.agentplannertool.frontend.common.filter.AuthenticationFilter</filter-class>
    <init-param>
        <param-name>avoid-urls</param-name>
        <param-value>index.jsp,webController,mobileController,loginController,register</param-value>
    </init-param>
	</filter>
<filter-mapping>
    <filter-name>secfilter</filter-name>
    <url-pattern>/</url-pattern>
</filter-mapping> 
  
  
  <servlet>
   
    <servlet-name>jLoginController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.user.controller.JLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jLoginController</servlet-name>
    <url-pattern>/jLoginController</url-pattern>
  </servlet-mapping>
  
   <servlet>
   
    <servlet-name>homeController</servlet-name>
    <servlet-class>com.agentplannertool.frontend.user.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeController</servlet-name>
    <url-pattern>/homeController</url-pattern>
  </servlet-mapping>
</web-app>